<h1> Add Ticket </h1>

<p>
    CID : 
{{input type="text" value=ticket.CID change=(action "findCustomer")}}
</p>
<p>
    Mob ID:
        {{input type="number" value=mobId }}
</p>


<div>
    <ul>
    {{#each possibleCustomers as |customer|}}
       <li {{action "setCID"  customer.id}}> <a> {{customer.id}} </a></li>
    {{/each}}
    </ul>
</div>

{{#if ticket.customer}}
    {{show-customer customer=ticket.customer}}

    <div>
        {{textarea value=ticket.body}}

        <button {{action 'addTicket'}} > Submit </button>
    </div>
{{/if}}



{{yield}}
