
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Open Tickets</div>

    <table class="table">
        <thead>
        <tr>
            <th> # </th>
            <th> Complaint Text </th>
            <th> Time </th>
            <th> Customer ID </th>
            <th> Customer Address </th>
            <th> Customer Mobile </th>
            <th> Status </th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |ticket|}}
            <tr {{action 'showTicket' ticket.id }} class="statusCode{{ticket.status}}" >
                <td>
                  {{ticket.id}}
                </td>
                <td>
                  {{ticket.body}}
                </td>
                <td>
                  {{moment-format ticket.time 'DD MMM YYYY, HH:mm'}}
                </td>
                <td>
                  {{ticket.customer.id}}
                </td>
                <td>
                  {{ticket.customer.Address}}
                </td>
                <td>
                  {{ticket.customer.Mobile}}
                </td>
                <td>
                  {{ticket.statusText}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{yield}}
