<div>
    <ul>
        <li>
            {{customer.id}}
        </li>
       <li>
            {{customer.Name}}
        </li>
        <li>
            {{customer.Address}}
        </li>
        <li>
            {{customer.Mobile}}
        </li>
       <li>
            {{customer.Email}}
        </li>
        <li>
            {{customer.expiry}}
        </li>
    </ul>
</div>
{{yield}}