<div class="panel panel-default panel-{{unless ticket.status 'primary'}} ">
  <div class="panel-heading">Ticket for {{ticket.customer.id}}</div>
  <div class="panel-body">
     <table class="table">
        <thead>
            <tr>
                <th> # </th>
                <th> Complaint Text </th>
                <th> Time </th>
                <th> Status </th>
                <th> Customer ID </th>
                <th> Customer Address </th>
                <th> Customer Mobile </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    {{ticket.id}}
                </td>
                <td>
                    {{ticket.body}}
                </td>
                <td>
                  {{moment-format ticket.time 'DD MMM YYYY, HH:mm'}}
                </td>
                <td>
                    {{ticket.status}}
                </td>
                <td>
                    {{ticket.customer.id}}
                </td>
                <td>
                    {{ticket.customer.Address}}
                </td>
                <td>
                    {{ticket.customer.Mobile}}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row">
    {{#if (eq ticket.status 2)}}
      <button class="btn btn-primary" {{action "reOpenTicket"}} >Re-Open Ticket </button>
    {{/if}}
    <button class="btn btn-danger" {{action "closeTicket"}}  > Close Ticket </button>
</div>
