<div class="panel panel-primary">
  <div class="panel-heading">Ticket for {{ticket.customer.id}}</div>
  <div class="panel-body">
     <table class="table">
        <thead>
            <tr>
                <th> # </th>
                <th> Complaint Text </th>
                <th> Time </th>
                <th> Status </th>
                <th> Customer ID </th>
                <th> Customer Address </th>
                <th> Customer Mobile </th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td> 
                    {{ticket.id}}
                </td>
                <td>
                    {{ticket.body}}
                </td>
                <td>
                    {{ticket.time}}
                </td>
                <td>
                    {{ticket.status}}
                </td>
                <td>
                    {{ticket.customer.id}}
                </td>
                <td>
                    {{ticket.customer.Address}}
                </td>
                <td>
                    {{ticket.customer.Mobile}}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

